body{
    background-image:url();
}
.nav{
    display:flex;
    margin-left:800px;
    justify-content:space-evenly;
}
.nav>a{
    width:100%;
    text-decoration:none;
}
.content{
    text-align:center;
    height:80vh;
    padding-top:10%;
    font-size:xx-large;
}
.overall{
    
    background-size:cover;
    background-repeat:no-repeat;
    height:100px;
}